.login-button,
.sign-up-button,
.show-password-button {
  background-color: rgb(0, 123, 255);
  padding: 8px 12px;
  border: none;
  color: white;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}