.error-404-page {
  color: gray;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-404-page .title {
  font-size: 80px;
  font-weight: 900;
}

.error-404-page .subtitle {
  font-size: 20px;
}